services:
  - type: web
    name: gaz-bot
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      BOT_TOKEN:
        value: 7609013692:AAHlEoAtz-GY71jRTD_oMjQULwK6hPz5zBQ
    dockerfilePath: Dockerfile
